<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parlour</key>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>FrameName</key>
				<string>地毯.png</string>
				<key>PositionX</key>
				<integer>516</integer>
				<key>PositionY</key>
				<integer>168</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>盆景.png</string>
				<key>PositionX</key>
				<integer>459</integer>
				<key>PositionY</key>
				<integer>318</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>空调.png</string>
				<key>PositionX</key>
				<integer>893</integer>
				<key>PositionY</key>
				<integer>448</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Kongtiao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Kongtiao_En_Air Conditioner.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>空调</string>
				<key>WordEN</key>
				<string>Air Conditioner</string>
				<key>StudyPic</key>
				<string>studypic/空调2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>沙发.png</string>
				<key>PositionX</key>
				<integer>879</integer>
				<key>PositionY</key>
				<integer>263</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Shafa_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Shafa_En_Sofa.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>沙发</string>
				<key>WordEN</key>
				<string>Sofa</string>
				<key>StudyPic</key>
				<string>studypic/沙发2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>玻璃桌.png</string>
				<key>PositionX</key>
				<integer>940</integer>
				<key>PositionY</key>
				<integer>130</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>茶几.png</string>
				<key>PositionX</key>
				<integer>608</integer>
				<key>PositionY</key>
				<integer>175</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Chaji_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Chaji_En_Teapoy.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>茶几</string>
				<key>WordEN</key>
				<string>Teapoy</string>
				<key>StudyPic</key>
				<string>studypic/茶几2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>电话.png</string>
				<key>PositionX</key>
				<integer>948</integer>
				<key>PositionY</key>
				<integer>190</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Dianhua_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Dianhua_En_Telephone.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>电话</string>
				<key>WordEN</key>
				<string>Telephone</string>
				<key>StudyPic</key>
				<string>studypic/电话2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>书柜.png</string>
				<key>PositionX</key>
				<integer>310</integer>
				<key>PositionY</key>
				<integer>420</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Shujia_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Shujia_En_Bookshelf.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>书架</string>
				<key>WordEN</key>
				<string>Bookshelf</string>
				<key>StudyPic</key>
				<string>studypic/书柜2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>电视柜.png</string>
				<key>PositionX</key>
				<integer>185</integer>
				<key>PositionY</key>
				<integer>229</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>电视机.png</string>
				<key>PositionX</key>
				<integer>200</integer>
				<key>PositionY</key>
				<integer>400</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Dianshiji_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Dianshiji_En_Television.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>电视机</string>
				<key>WordEN</key>
				<string>Television</string>
				<key>StudyPic</key>
				<string>studypic/电视机2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>花瓶.png</string>
				<key>PositionX</key>
				<integer>59</integer>
				<key>PositionY</key>
				<integer>403</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Huaping_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Huaping_En_Flower Vase.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>花瓶</string>
				<key>WordEN</key>
				<string>Flower Vase</string>
				<key>StudyPic</key>
				<string>studypic/花瓶2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>高低柜.png</string>
				<key>PositionX</key>
				<integer>49</integer>
				<key>PositionY</key>
				<integer>212</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>钟表.png</string>
				<key>PositionX</key>
				<integer>164</integer>
				<key>PositionY</key>
				<integer>655</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Shizhong_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Shizhong_En_Clock.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>时钟</string>
				<key>WordEN</key>
				<string>Clock</string>
				<key>StudyPic</key>
				<string>studypic/钟表2.png</string>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/parlour-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/parlour.plist</string>
		<key>BatchNodeFile</key>
		<string>area/parlour.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/parlour-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>diningroom</key>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>FrameName</key>
				<string>餐桌.png</string>
				<key>PositionX</key>
				<integer>499</integer>
				<key>PositionY</key>
				<integer>200</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>餐椅1.png</string>
				<key>PositionX</key>
				<integer>127</integer>
				<key>PositionY</key>
				<integer>236</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>餐椅3.png</string>
				<key>PositionX</key>
				<integer>891</integer>
				<key>PositionY</key>
				<integer>248</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>餐椅5.png</string>
				<key>PositionX</key>
				<integer>651</integer>
				<key>PositionY</key>
				<integer>104</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>吊灯.png</string>
				<key>PositionX</key>
				<integer>506</integer>
				<key>PositionY</key>
				<integer>717</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>咖啡.png</string>
				<key>PositionX</key>
				<integer>667</integer>
				<key>PositionY</key>
				<integer>363</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>勺子.png</string>
				<key>PositionX</key>
				<integer>708</integer>
				<key>PositionY</key>
				<integer>350</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Shaozi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Shaozi_En_Ladle.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>勺子</string>
				<key>WordEN</key>
				<string>Ladle</string>
				<key>StudyPic</key>
				<string>studypic/勺子2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>可乐.png</string>
				<key>PositionX</key>
				<integer>563</integer>
				<key>PositionY</key>
				<integer>385</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Kele_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Kele_En_Coke.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>可乐</string>
				<key>WordEN</key>
				<string>Coke</string>
				<key>StudyPic</key>
				<string>studypic/可乐2.png</string>
			</dict>
			
			<dict>
				<key>FrameName</key>
				<string>果汁.png</string>
				<key>PositionX</key>
				<integer>640</integer>
				<key>PositionY</key>
				<integer>379</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Guozhi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Guozhi_En_Fruit Juice.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>果汁</string>
				<key>WordEN</key>
				<string>Fruit Juice</string>
				<key>StudyPic</key>
				<string>studypic/果汁2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>牛奶.png</string>
				<key>PositionX</key>
				<integer>482</integer>
				<key>PositionY</key>
				<integer>369</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Niunai_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Niunai_En_Milk.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>牛奶</string>
				<key>WordEN</key>
				<string>Milk</string>
				<key>StudyPic</key>
				<string>studypic/牛奶2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>盘子.png</string>
				<key>PositionX</key>
				<integer>319</integer>
				<key>PositionY</key>
				<integer>353</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Panzi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Panzi_En_Plate.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>盘子</string>
				<key>WordEN</key>
				<string>Plate</string>
				<key>StudyPic</key>
				<string>studypic/盘子2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>碗.png</string>
				<key>PositionX</key>
				<integer>404</integer>
				<key>PositionY</key>
				<integer>383</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Wan_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Wan_En_Bowl.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>碗</string>
				<key>WordEN</key>
				<string>Bowl</string>
				<key>StudyPic</key>
				<string>studypic/碗2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>筷子.png</string>
				<key>PositionX</key>
				<integer>395</integer>
				<key>PositionY</key>
				<integer>330</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Kuaizi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Kuaizi_En_Chopsticks.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>筷子</string>
				<key>WordEN</key>
				<string>Chopsticks</string>
				<key>StudyPic</key>
				<string>studypic/筷子2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>钗子.png</string>
				<key>PositionX</key>
				<integer>559</integer>
				<key>PositionY</key>
				<integer>324</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Chazi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Chazi_En_Fork.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>叉子</string>
				<key>WordEN</key>
				<string>Fork</string>
				<key>StudyPic</key>
				<string>studypic/钗子2.png</string>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/diningroom-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/diningroom.plist</string>
		<key>BatchNodeFile</key>
		<string>area/diningroom.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/diningroom-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>kitchen</key>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>FrameName</key>
				<string>菜板.png</string>
				<key>PositionX</key>
				<integer>636</integer>
				<key>PositionY</key>
				<integer>308</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>蔬菜.png</string>
				<key>PositionX</key>
				<integer>386</integer>
				<key>PositionY</key>
				<integer>170</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>砂锅.png</string>
				<key>PositionX</key>
				<integer>601</integer>
				<key>PositionY</key>
				<integer>542</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>调料盒.png</string>
				<key>PositionX</key>
				<integer>644</integer>
				<key>PositionY</key>
				<integer>319</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>汤勺.png</string>
				<key>PositionX</key>
				<integer>632</integer>
				<key>PositionY</key>
				<integer>432</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>冰箱.png</string>
				<key>PositionX</key>
				<integer>114</integer>
				<key>PositionY</key>
				<integer>267</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Bingxiang_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Bingxiang_En_Ice box.mp3</string>
				<key>PronunceJS</key>
				<string>ss</string>
				<key>WordCN</key>
				<string>冰箱</string>
				<key>WordEN</key>
				<string>Ice box</string>
				<key>StudyPic</key>
				<string>studypic/冰箱2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>吸油烟机.png</string>
				<key>PositionX</key>
				<integer>919</integer>
				<key>PositionY</key>
				<integer>463</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Xiyouyanji_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Xiyouyanji_En_Range Hood.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>吸油烟机</string>
				<key>WordEN</key>
				<string>Range Hood</string>
				<key>StudyPic</key>
				<string>studypic/吸油烟机2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>微波炉.png</string>
				<key>PositionX</key>
				<integer>666</integer>
				<key>PositionY</key>
				<integer>168</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Weibolu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Weibolu_En_Microwave Oven.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>微波炉</string>
				<key>WordEN</key>
				<string>Microwave Oven</string>
				<key>StudyPic</key>
				<string>studypic/微波炉2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>燃气灶.png</string>
				<key>PositionX</key>
				<integer>870</integer>
				<key>PositionY</key>
				<integer>320</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Ranqizao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Ranqizao_En_Gas Cooker.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>燃气灶</string>
				<key>WordEN</key>
				<string>Gas Cooker</string>
				<key>StudyPic</key>
				<string>studypic/燃气灶2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>电饭煲.png</string>
				<key>PositionX</key>
				<integer>927</integer>
				<key>PositionY</key>
				<integer>237</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Dianfanbao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Dianfanbao_En_Electric Cooker.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>电饭煲</string>
				<key>WordEN</key>
				<string>Electric Cooker</string>
				<key>StudyPic</key>
				<string>studypic/电饭煲2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>铲子.png</string>
				<key>PositionX</key>
				<integer>569</integer>
				<key>PositionY</key>
				<integer>427</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Chanzi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Chanzi_En_Scoop.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>铲子</string>
				<key>WordEN</key>
				<string>Scoop</string>
				<key>StudyPic</key>
				<string>studypic/铲子2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>锅.png</string>
				<key>PositionX</key>
				<integer>836</integer>
				<key>PositionY</key>
				<integer>353</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Guo_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Guo_En_Pan.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>锅</string>
				<key>WordEN</key>
				<string>Pan</string>
				<key>StudyPic</key>
				<string>studypic/锅2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>饮水机.png</string>
				<key>PositionX</key>
				<integer>400</integer>
				<key>PositionY</key>
				<integer>368</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Yinshuiji_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Yinshuiji_En_Water Dispenser.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>饮水机</string>
				<key>WordEN</key>
				<string>Water Dispenser</string>
				<key>StudyPic</key>
				<string>studypic/饮水机2.png</string>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/kitchen-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/kitchen.plist</string>
		<key>BatchNodeFile</key>
		<string>area/kitchen.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/kitchen-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>bedroom</key>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>FrameName</key>
				<string>窗户.png</string>
				<key>PositionX</key>
				<integer>174</integer>
				<key>PositionY</key>
				<integer>413</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Chuanghu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Chuanghu_En_Window.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>窗户</string>
				<key>WordEN</key>
				<string>Window</string>
				<key>StudyPic</key>
				<string>studypic/窗户2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>油画.png</string>
				<key>PositionX</key>
				<integer>784</integer>
				<key>PositionY</key>
				<integer>468</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>顶灯.png</string>
				<key>PositionX</key>
				<integer>566</integer>
				<key>PositionY</key>
				<integer>689</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>衣柜.png</string>
				<key>PositionX</key>
				<integer>483</integer>
				<key>PositionY</key>
				<integer>365</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Yigui_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Yigui_En_Armoire.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>衣柜</string>
				<key>WordEN</key>
				<string>Armoire</string>
				<key>StudyPic</key>
				<string>studypic/衣柜2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>椅子.png</string>
				<key>PositionX</key>
				<integer>201</integer>
				<key>PositionY</key>
				<integer>199</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Yizi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Yizi_En_Chair.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>椅子</string>
				<key>WordEN</key>
				<string>Chair</string>
				<key>StudyPic</key>
				<string>studypic/椅子2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>床.png</string>
				<key>PositionX</key>
				<integer>592</integer>
				<key>PositionY</key>
				<integer>200</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Chuang_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Chuang_En_Bed.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>床</string>
				<key>WordEN</key>
				<string>Bed</string>
				<key>StudyPic</key>
				<string>studypic/床2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>床头柜.png</string>
				<key>PositionX</key>
				<integer>909</integer>
				<key>PositionY</key>
				<integer>190</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Chuangtougui_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Chuangtougui_En_Bedstand.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>床头柜</string>
				<key>WordEN</key>
				<string>Bedstand</string>
				<key>StudyPic</key>
				<string>studypic/床头柜2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>台灯.png</string>
				<key>PositionX</key>
				<integer>919</integer>
				<key>PositionY</key>
				<integer>296</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Taideng_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Taideng_En_Table Lamp.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>台灯</string>
				<key>WordEN</key>
				<string>Table Lamp</string>
				<key>StudyPic</key>
				<string>studypic/台灯2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>被子.png</string>
				<key>PositionX</key>
				<integer>691</integer>
				<key>PositionY</key>
				<integer>265</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Beizi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Beizi_En_Quilt.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>被子</string>
				<key>WordEN</key>
				<string>Quilt</string>
				<key>StudyPic</key>
				<string>studypic/被子2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>枕头.png</string>
				<key>PositionX</key>
				<integer>587</integer>
				<key>PositionY</key>
				<integer>223</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Zhentou_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Zhentou_En_Pillow.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>枕头</string>
				<key>WordEN</key>
				<string>Pillow</string>
				<key>StudyPic</key>
				<string>studypic/枕头2.png</string>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/bedroom-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/bedroom.plist</string>
		<key>BatchNodeFile</key>
		<string>area/bedroom.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/bedroom-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>washroom</key>
	<dict>
		<key>Objects</key>
		<array>
            <dict>
				<key>FrameName</key>
				<string>马桶.png</string>
				<key>PositionX</key>
				<integer>902</integer>
				<key>PositionY</key>
				<integer>300</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Matong_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Matong_En_Nightstool.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>马桶</string>
				<key>WordEN</key>
				<string>Nightstool</string>
				<key>StudyPic</key>
				<string>studypic/马桶2.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>桌子.png</string>
				<key>PositionX</key>
				<integer>758</integer>
				<key>PositionY</key>
				<integer>77</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>小板凳.png</string>
				<key>PositionX</key>
				<integer>360</integer>
				<key>PositionY</key>
				<integer>68</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>防滑垫.png</string>
				<key>PositionX</key>
				<integer>450</integer>
				<key>PositionY</key>
				<integer>146</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>洗手液.png</string>
				<key>PositionX</key>
				<integer>858</integer>
				<key>PositionY</key>
				<integer>179</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>洗发水.png</string>
				<key>PositionX</key>
				<integer>826</integer>
				<key>PositionY</key>
				<integer>179</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>牙刷.png</string>
				<key>PositionX</key>
				<integer>785</integer>
				<key>PositionY</key>
				<integer>165</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>洗面奶.png</string>
				<key>PositionX</key>
				<integer>806</integer>
				<key>PositionY</key>
				<integer>141</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>毛巾.png</string>
				<key>PositionX</key>
				<integer>52</integer>
				<key>PositionY</key>
				<integer>366</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Maojin_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Maojin_En_Towel.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>毛巾</string>
				<key>WordEN</key>
				<string>Towel</string>
				<key>StudyPic</key>
				<string>studypic/毛巾2.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>洗手池.png</string>
				<key>PositionX</key>
				<integer>255</integer>
				<key>PositionY</key>
				<integer>251</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Xishouchi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Xishouchi_En_Lavabo.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>洗手池</string>
				<key>WordEN</key>
				<string>Lavabo</string>
				<key>StudyPic</key>
				<string>studypic/洗手池2.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>洗衣机.png</string>
				<key>PositionX</key>
				<integer>130</integer>
				<key>PositionY</key>
				<integer>90</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Xiyiji_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Xiyiji_En_Washer.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>洗衣机</string>
				<key>WordEN</key>
				<string>Washer</string>
				<key>StudyPic</key>
				<string>studypic/洗衣机2.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>浴盆.png</string>
				<key>PositionX</key>
				<integer>566</integer>
				<key>PositionY</key>
				<integer>254</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Yupen_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Yupen_En_Bathtub.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>浴盆</string>
				<key>WordEN</key>
				<string>Bathtub</string>
				<key>StudyPic</key>
				<string>studypic/浴盆2.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>热水器.png</string>
				<key>PositionX</key>
				<integer>657</integer>
				<key>PositionY</key>
				<integer>612</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Reshuiqi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Reshuiqi_En_Water Heater.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>热水器</string>
				<key>WordEN</key>
				<string>Water Heater</string>
				<key>StudyPic</key>
				<string>studypic/热水器2.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>镜子.png</string>
				<key>PositionX</key>
				<integer>206</integer>
				<key>PositionY</key>
				<integer>558</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Jingzi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Jingzi_En_Mirror.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>镜子</string>
				<key>WordEN</key>
				<string>Mirror</string>
				<key>StudyPic</key>
				<string>studypic/镜子2.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>香皂.png</string>
				<key>PositionX</key>
				<integer>688</integer>
				<key>PositionY</key>
				<integer>133</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Xiangzao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Xiangzao_En_Toilet Soap.mp3</string>
				<key>PronunceJS</key>
				<string></string>
				<key>WordCN</key>
				<string>香皂</string>
				<key>WordEN</key>
				<string>Toilet Soap</string>
				<key>StudyPic</key>
				<string>studypic/香皂2.png</string>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/washroom-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/washroom.plist</string>
		<key>BatchNodeFile</key>
		<string>area/washroom.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/washroom-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
</dict>
</plist>
