<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ocean</key>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>FrameName</key>
				<string>haixing.png</string>
				<key>PositionX</key>
				<integer>341</integer>
				<key>PositionY</key>
				<integer>72</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>beike.png</string>
				<key>PositionX</key>
				<integer>116</integer>
				<key>PositionY</key>
				<integer>69</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>shanhu.png</string>
				<key>PositionX</key>
				<integer>899</integer>
				<key>PositionY</key>
				<integer>36</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>haicao01.png</string>
				<key>PositionX</key>
				<integer>637</integer>
				<key>PositionY</key>
				<integer>272</integer>
				<key>HasAnimation</key>
				<true/>
				<key>AnimationFrameNum</key>
				<integer>6</integer>
				<key>AnimationFrameDelay</key>
				<real>0.3</real>
				<key>AnimationFrameNamePrefix</key>
				<string>haicao</string>
				<key>CanStudy</key>
				<false/>
				<key>Scale</key>
				<real>0.4</real>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>haicao01.png</string>
				<key>PositionX</key>
				<integer>820</integer>
				<key>PositionY</key>
				<integer>101</integer>
				<key>HasAnimation</key>
				<true/>
				<key>AnimationFrameNum</key>
				<integer>6</integer>
				<key>AnimationFrameDelay</key>
				<real>0.22</real>
				<key>AnimationFrameNamePrefix</key>
				<string>haicao</string>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>qipao01.png</string>
				<key>PositionX</key>
				<integer>861</integer>
				<key>PositionY</key>
				<integer>313</integer>
				<key>HasAnimation</key>
				<true/>
				<key>AnimationFrameNum</key>
				<integer>12</integer>
				<key>AnimationFrameDelay</key>
				<real>0.1</real>
				<key>AnimationFrameNamePrefix</key>
				<string>qipao</string>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>shanhu.png</string>
				<key>PositionX</key>
				<integer>816</integer>
				<key>PositionY</key>
				<integer>-12</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
				<key>Scale</key>
				<real>0.7</real>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>haima.png</string>
				<key>PositionX</key>
				<integer>96</integer>
				<key>PositionY</key>
				<integer>404</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Haima_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Haima_En_Sea horse.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Haima_Js.mp3</string>
				<key>WordCN</key>
				<string>海马</string>
				<key>WordEN</key>
				<string>Sea horse</string>
				<key>StudyPic</key>
				<string>studypic/haima.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>haigui.png</string>
				<key>PositionX</key>
				<integer>944</integer>
				<key>PositionY</key>
				<integer>238</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Haigui_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Haigui_En_Sea turtle.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Haigui_Js.mp3</string>
				<key>WordCN</key>
				<string>海龟</string>
				<key>WordEN</key>
				<string>Sea turtle</string>
				<key>StudyPic</key>
				<string>studypic/haigui.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>haitun.png</string>
				<key>PositionX</key>
				<integer>403</integer>
				<key>PositionY</key>
				<integer>407</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Haitun_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Haitun_En_Dolphin.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Haitun_Js.mp3</string>
				<key>WordCN</key>
				<string>海豚</string>
				<key>WordEN</key>
				<string>dolphin</string>
				<key>StudyPic</key>
				<string>studypic/haitun.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>longxia.png</string>
				<key>PositionX</key>
				<integer>162</integer>
				<key>PositionY</key>
				<integer>272</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Longxia_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Longxia_En_Lobster.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Longxia_Js.mp3</string>
				<key>WordCN</key>
				<string>龙虾</string>
				<key>WordEN</key>
				<string>lobster</string>
				<key>StudyPic</key>
				<string>studypic/longxia.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>pangxie.png</string>
				<key>PositionX</key>
				<integer>625</integer>
				<key>PositionY</key>
				<integer>104</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Pangxie_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Pangxie_En_Crab.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Pangxie_Js.mp3</string>
				<key>WordCN</key>
				<string>螃蟹</string>
				<key>WordEN</key>
				<string>crab</string>
				<key>StudyPic</key>
				<string>studypic/pangxie.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>shayu.png</string>
				<key>PositionX</key>
				<integer>589</integer>
				<key>PositionY</key>
				<integer>615</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Shayu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Shayu_En_Shark.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Shayu_Js.mp3</string>
				<key>WordCN</key>
				<string>鲨鱼</string>
				<key>WordEN</key>
				<string>shark</string>
				<key>StudyPic</key>
				<string>studypic/shayu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>xiaoyu.png</string>
				<key>PositionX</key>
				<integer>255</integer>
				<key>PositionY</key>
				<integer>531</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Xiaoyu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Xiaoyu_En_Fish.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Xiaoyu_Js.mp3</string>
				<key>WordCN</key>
				<string>小鱼</string>
				<key>WordEN</key>
				<string>fish</string>
				<key>StudyPic</key>
				<string>studypic/xiaoyu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>zhangyu.png</string>
				<key>PositionX</key>
				<integer>726</integer>
				<key>PositionY</key>
				<integer>413</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Zhangyu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Zhangyu_En_Octopus.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Zhangyu_Js.mp3</string>
				<key>WordCN</key>
				<string>章鱼</string>
				<key>WordEN</key>
				<string>octopus</string>
				<key>StudyPic</key>
				<string>studypic/zhangyu.png</string>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/ocean-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/ocean.plist</string>
		<key>BatchNodeFile</key>
		<string>area/ocean.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/ocean-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>desert</key>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>FrameName</key>
				<string>laoying.png</string>
				<key>PositionX</key>
				<integer>793</integer>
				<key>PositionY</key>
				<integer>675</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Laoying_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Laoying_En_Eagle.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Laoying_Js.mp3</string>
				<key>WordCN</key>
				<string>老鹰</string>
				<key>WordEN</key>
				<string>eagle</string>
				<key>StudyPic</key>
				<string>studypic/laoying.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>luotuo.png</string>
				<key>PositionX</key>
				<integer>633</integer>
				<key>PositionY</key>
				<integer>248</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Luotuo_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Luotuo_En_Camel.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Luotuo_Js.mp3</string>
				<key>WordCN</key>
				<string>骆驼</string>
				<key>WordEN</key>
				<string>camel</string>
				<key>StudyPic</key>
				<string>studypic/luotuo.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>she.png</string>
				<key>PositionX</key>
				<integer>247</integer>
				<key>PositionY</key>
				<integer>252</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/She_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/She_En_Snake.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/She_Js.mp3</string>
				<key>WordCN</key>
				<string>蛇</string>
				<key>WordEN</key>
				<string>snake</string>
				<key>StudyPic</key>
				<string>studypic/she.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>tuoniao.png</string>
				<key>PositionX</key>
				<integer>99</integer>
				<key>PositionY</key>
				<integer>401</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Tuoniao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Tuoniao_En_Ostrich.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Tuoniao_Js.mp3</string>
				<key>WordCN</key>
				<string>鸵鸟</string>
				<key>WordEN</key>
				<string>ostrich</string>
				<key>StudyPic</key>
				<string>studypic/tuoniao.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>xiezi.png</string>
				<key>PositionX</key>
				<integer>303</integer>
				<key>PositionY</key>
				<integer>121</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Xiezi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Xiezi_En_Scorpion.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Xiezi_Js.mp3</string>
				<key>WordCN</key>
				<string>蝎子</string>
				<key>WordEN</key>
				<string>scorpion</string>
				<key>StudyPic</key>
				<string>studypic/xiezi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>xiyi.png</string>
				<key>PositionX</key>
				<integer>858</integer>
				<key>PositionY</key>
				<integer>82</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Xiyi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Xiyi_En_Lizard.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Xiyi_Js.mp3</string>
				<key>WordCN</key>
				<string>蜥蜴</string>
				<key>WordEN</key>
				<string>lizard</string>
				<key>StudyPic</key>
				<string>studypic/xiyi.png</string>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/desert-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/desert.plist</string>
		<key>BatchNodeFile</key>
		<string>area/desert.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/desert-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>lack</key>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>FrameName</key>
				<string>eyu.png</string>
				<key>PositionX</key>
				<integer>187</integer>
				<key>PositionY</key>
				<integer>557</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Eyu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Eyu_En_Crocodile.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Eyu_Js.mp3</string>
				<key>WordCN</key>
				<string>鄂鱼</string>
				<key>WordEN</key>
				<string>crocodile</string>
				<key>StudyPic</key>
				<string>studypic/eyu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>hema.png</string>
				<key>PositionX</key>
				<integer>813</integer>
				<key>PositionY</key>
				<integer>433</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Hema_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Hema_En_Hippo.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Hema_Js.mp3</string>
				<key>WordCN</key>
				<string>河马</string>
				<key>WordEN</key>
				<string>hippo</string>
				<key>StudyPic</key>
				<string>studypic/hema.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>qingwa.png</string>
				<key>PositionX</key>
				<integer>283</integer>
				<key>PositionY</key>
				<integer>410</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Qingwa_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Qingwa_En_Frog.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Qingwa_Js.mp3</string>
				<key>WordCN</key>
				<string>青蛙</string>
				<key>WordEN</key>
				<string>frog</string>
				<key>StudyPic</key>
				<string>studypic/qingwa.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>woniu.png</string>
				<key>PositionX</key>
				<integer>892</integer>
				<key>PositionY</key>
				<integer>126</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Woniu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Woniu_En_Snail.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Woniu_Js.mp3</string>
				<key>WordCN</key>
				<string>蜗牛</string>
				<key>WordEN</key>
				<string>snail</string>
				<key>StudyPic</key>
				<string>studypic/woniu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>wugui.png</string>
				<key>PositionX</key>
				<integer>517</integer>
				<key>PositionY</key>
				<integer>591</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/wugui_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/wugui_En_Tortoise.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/wugui_Js.mp3</string>
				<key>WordCN</key>
				<string>乌龟</string>
				<key>WordEN</key>
				<string>tortoise</string>
				<key>StudyPic</key>
				<string>studypic/wugui.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>yazi.png</string>
				<key>PositionX</key>
				<integer>629</integer>
				<key>PositionY</key>
				<integer>167</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Yazi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Yazi_En_Duck.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Yazi_Js.mp3</string>
				<key>WordCN</key>
				<string>鸭子</string>
				<key>WordEN</key>
				<string>duck</string>
				<key>StudyPic</key>
				<string>studypic/yazi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>hudie01.png</string>
				<key>PositionX</key>
				<integer>235</integer>
				<key>PositionY</key>
				<integer>135</integer>
				<key>HasAnimation</key>
				<true/>
				<key>AnimationFrameNum</key>
				<integer>10</integer>
				<key>AnimationFrameNeedReverse</key>
				<true/>
				<key>AnimationFrameDelay</key>
				<real>0.08</real>
				<key>AnimationFrameNamePrefix</key>
				<string>hudie</string>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Hudie_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Hudie_En_Butterfly.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Hudie_Js.mp3</string>
				<key>WordCN</key>
				<string>蝴蝶</string>
				<key>WordEN</key>
				<string>butterfly</string>
				<key>StudyPic</key>
				<string>studypic/hudie.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>hemawater.png</string>
				<key>PositionX</key>
				<integer>800</integer>
				<key>PositionY</key>
				<integer>332</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/lack-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/lack.plist</string>
		<key>BatchNodeFile</key>
		<string>area/lack.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/lack-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>forest</key>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>FrameName</key>
				<string>zhuomuniao.png</string>
				<key>PositionX</key>
				<integer>517</integer>
				<key>PositionY</key>
				<integer>581</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Zhuomuniao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Zhuomuniao_En_Woodpecker.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Zhuomuniao_Js.mp3</string>
				<key>WordCN</key>
				<string>啄木鸟</string>
				<key>WordEN</key>
				<string>woodpecker</string>
				<key>StudyPic</key>
				<string>studypic/zhuomuniao.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>yezhu.png</string>
				<key>PositionX</key>
				<integer>867</integer>
				<key>PositionY</key>
				<integer>371</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Yezhu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Yezhu_En_Boar.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Yezhu_Js.mp3</string>
				<key>WordCN</key>
				<string>野猪</string>
				<key>WordEN</key>
				<string>boar</string>
				<key>StudyPic</key>
				<string>studypic/yezhu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>tuzi.png</string>
				<key>PositionX</key>
				<integer>465</integer>
				<key>PositionY</key>
				<integer>213</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Tuzi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Tuzi_En_Rabbit.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Tuzi_Js.mp3</string>
				<key>WordCN</key>
				<string>兔子</string>
				<key>WordEN</key>
				<string>rabbit</string>
				<key>StudyPic</key>
				<string>studypic/tuzi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>songshu.png</string>
				<key>PositionX</key>
				<integer>644</integer>
				<key>PositionY</key>
				<integer>401</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Songshu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Songshu_En_Squirrel.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Songshu_Js.mp3</string>
				<key>WordCN</key>
				<string>松鼠</string>
				<key>WordEN</key>
				<string>squirrel</string>
				<key>StudyPic</key>
				<string>studypic/songshu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>laohu.png</string>
				<key>PositionX</key>
				<integer>775</integer>
				<key>PositionY</key>
				<integer>153</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Laohu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Laohu_En_Tiger.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Laohu_Js.mp3</string>
				<key>WordCN</key>
				<string>老虎</string>
				<key>WordEN</key>
				<string>tiger</string>
				<key>StudyPic</key>
				<string>studypic/laohu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>kongque.png</string>
				<key>PositionX</key>
				<integer>203</integer>
				<key>PositionY</key>
				<integer>402</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Kongque_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Kongque_En_Peacock.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Kongque_Js.mp3</string>
				<key>WordCN</key>
				<string>孔雀</string>
				<key>WordEN</key>
				<string>peacock</string>
				<key>StudyPic</key>
				<string>studypic/kongque.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>houzi.png</string>
				<key>PositionX</key>
				<integer>154</integer>
				<key>PositionY</key>
				<integer>167</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Houzi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Houzi_En_Monkey.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Houzi_Js.mp3</string>
				<key>WordCN</key>
				<string>猴子</string>
				<key>WordEN</key>
				<string>monkey</string>
				<key>StudyPic</key>
				<string>studypic/houzi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>caocong.png</string>
				<key>PositionX</key>
				<integer>1020</integer>
				<key>PositionY</key>
				<integer>0</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>xiaohudie01.png</string>
				<key>PositionX</key>
				<integer>956</integer>
				<key>PositionY</key>
				<integer>115</integer>
				<key>HasAnimation</key>
				<true/>
				<key>AnimationFrameNum</key>
				<integer>8</integer>
				<key>AnimationFrameDelay</key>
				<real>0.06</real>
				<key>AnimationFrameNamePrefix</key>
				<string>xiaohudie</string>
				<key>CanStudy</key>
				<false/>
                <key>Scale</key>
				<real>0.8</real>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>xiaohudie01.png</string>
				<key>PositionX</key>
				<integer>984</integer>
				<key>PositionY</key>
				<integer>59</integer>
				<key>HasAnimation</key>
				<true/>
				<key>AnimationFrameNum</key>
				<integer>8</integer>
				<key>AnimationFrameDelay</key>
				<real>0.075</real>
				<key>AnimationFrameNamePrefix</key>
				<string>xiaohudie</string>
				<key>CanStudy</key>
				<false/>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/forest-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/forest.plist</string>
		<key>BatchNodeFile</key>
		<string>area/forest.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/forest-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>prairie</key>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>FrameName</key>
				<string>xiniu.png</string>
				<key>PositionX</key>
				<integer>206</integer>
				<key>PositionY</key>
				<integer>166</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Xiniu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Xiniu_En_Rhino.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Xiniu_Js.mp3</string>
				<key>WordCN</key>
				<string>犀牛</string>
				<key>WordEN</key>
				<string>Rhino</string>
				<key>StudyPic</key>
				<string>studypic/xiniu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>lingyang.png</string>
				<key>PositionX</key>
				<integer>470</integer>
				<key>PositionY</key>
				<integer>494</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Lingyang_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Lingyang_En_Antelope.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Lingyang_Js.mp3</string>
				<key>WordCN</key>
				<string>羚羊</string>
				<key>WordEN</key>
				<string>antelope</string>
				<key>StudyPic</key>
				<string>studypic/lingyang.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>lang.png</string>
				<key>PositionX</key>
				<integer>644</integer>
				<key>PositionY</key>
				<integer>498</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Lang_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Lang_En_Wolf.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Lang_Js.mp3</string>
				<key>WordCN</key>
				<string>狼</string>
				<key>WordEN</key>
				<string>wolf</string>
				<key>StudyPic</key>
				<string>studypic/lang.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>daxiang.png</string>
				<key>PositionX</key>
				<integer>866</integer>
				<key>PositionY</key>
				<integer>207</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Daxiang_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Daxiang_En_Elephant.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Daxiang_Js.mp3</string>
				<key>WordCN</key>
				<string>大象</string>
				<key>WordEN</key>
				<string>elephant</string>
				<key>StudyPic</key>
				<string>studypic/daxiang.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>changjinglu.png</string>
				<key>PositionX</key>
				<integer>124</integer>
				<key>PositionY</key>
				<integer>542</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Changjinglu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Changjinglu_En_Giraffe.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Changjinglu_Js.mp3</string>
				<key>WordCN</key>
				<string>长颈鹿</string>
				<key>WordEN</key>
				<string>giraffe</string>
				<key>StudyPic</key>
				<string>studypic/changjinglu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>baozi.png</string>
				<key>PositionX</key>
				<integer>436</integer>
				<key>PositionY</key>
				<integer>282</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Baozi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Baozi_En_Leopard.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Baozi_Js.mp3</string>
				<key>WordCN</key>
				<string>豹子</string>
				<key>WordEN</key>
				<string>leopard</string>
				<key>StudyPic</key>
				<string>studypic/baozi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>banma.png</string>
				<key>PositionX</key>
				<integer>881</integer>
				<key>PositionY</key>
				<integer>502</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Banma_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Banma_En_Zebra.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Banma_Js.mp3</string>
				<key>WordCN</key>
				<string>斑马</string>
				<key>WordEN</key>
				<string>zebra</string>
				<key>StudyPic</key>
				<string>studypic/banma.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>guanmu.png</string>
				<key>PositionX</key>
				<integer>30</integer>
				<key>PositionY</key>
				<integer>68</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<false/>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/prairie-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/prairie.plist</string>
		<key>BatchNodeFile</key>
		<string>area/prairie.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/prairie-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
</dict>
</plist>
