<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>livestock</key>
	<dict>
		<key>Objects</key>
		<array>
            <dict>
				<key>FrameName</key>
				<string>Yang.png</string>
				<key>PositionX</key>
				<integer>369</integer>
				<key>PositionY</key>
				<integer>503</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Yang_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Yang_En_Sheep.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Yang_Js.mp3</string>
				<key>WordCN</key>
				<string>羊</string>
				<key>WordEN</key>
				<string>Sheep</string>
				<key>StudyPic</key>
				<string>studypic/Yang.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>E.png</string>
				<key>PositionX</key>
				<integer>442</integer>
				<key>PositionY</key>
				<integer>189</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/E_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/E_En_Goose.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/E_Js.mp3</string>
				<key>WordCN</key>
				<string>鹅</string>
				<key>WordEN</key>
				<string>Goose</string>
				<key>StudyPic</key>
				<string>studypic/E.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>GongJi.png</string>
				<key>PositionX</key>
				<integer>802</integer>
				<key>PositionY</key>
				<integer>670</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/GongJi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/GongJi_En_Cock.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/GongJi_Js.mp3</string>
				<key>WordCN</key>
				<string>公鸡</string>
				<key>WordEN</key>
				<string>Cock</string>
				<key>StudyPic</key>
				<string>studypic/GongJi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>Gou.png</string>
				<key>PositionX</key>
				<integer>646</integer>
				<key>PositionY</key>
				<integer>185</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Gou_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Gou_En_Dog.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Gou_Js.mp3</string>
				<key>WordCN</key>
				<string>狗</string>
				<key>WordEN</key>
				<string>Dog</string>
				<key>StudyPic</key>
				<string>studypic/Gou.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>Lv.png</string>
				<key>PositionX</key>
				<integer>533</integer>
				<key>PositionY</key>
				<integer>467</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Lv_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Lv_En_Neddy.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Lv_Js.mp3</string>
				<key>WordCN</key>
				<string>驴</string>
				<key>WordEN</key>
				<string>Neddy</string>
				<key>StudyPic</key>
				<string>studypic/Lv.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>Ma.png</string>
				<key>PositionX</key>
				<integer>179</integer>
				<key>PositionY</key>
				<integer>181</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Ma_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Ma_En_Horse.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Ma_Js.mp3</string>
				<key>WordCN</key>
				<string>马</string>
				<key>WordEN</key>
				<string>Horse</string>
				<key>StudyPic</key>
				<string>studypic/Ma.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>MuJi.png</string>
				<key>PositionX</key>
				<integer>909</integer>
				<key>PositionY</key>
				<integer>310</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/MuJi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/MuJi_En_Hen.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/MuJi_Js.mp3</string>
				<key>WordCN</key>
				<string>母鸡</string>
				<key>WordEN</key>
				<string>Hen</string>
				<key>StudyPic</key>
				<string>studypic/MuJi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>NaiNiu.png</string>
				<key>PositionX</key>
				<integer>159</integer>
				<key>PositionY</key>
				<integer>440</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/NaiNiu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/NaiNiu_En_Cow.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/NaiNiu_Js.mp3</string>
				<key>WordCN</key>
				<string>奶牛</string>
				<key>WordEN</key>
				<string>Cow</string>
				<key>StudyPic</key>
				<string>studypic/NaiNiu.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>YaZi.png</string>
				<key>PositionX</key>
				<integer>916</integer>
				<key>PositionY</key>
				<integer>127</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/YaZi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/YaZi_En_Duck.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/YaZi_Js.mp3</string>
				<key>WordCN</key>
				<string>鸭子</string>
				<key>WordEN</key>
				<string>Duck</string>
				<key>StudyPic</key>
				<string>studypic/YaZi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>Zhu.png</string>
				<key>PositionX</key>
				<integer>754</integer>
				<key>PositionY</key>
				<integer>416</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Zhu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Zhu_En_Pig.mp3</string>
				<key>PronunceJS</key>
				<string>pronunce/Zhu_Js.mp3</string>
				<key>WordCN</key>
				<string>猪</string>
				<key>WordEN</key>
				<string>Pig</string>
				<key>StudyPic</key>
				<string>studypic/Zhu.png</string>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/livestock-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/livestock.plist</string>
		<key>BatchNodeFile</key>
		<string>area/livestock.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/livestock-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>fruit</key>
	<dict>
		<key>Objects</key>
		<array>
            <dict>
				<key>FrameName</key>
				<string>PingGuo.png</string>
				<key>PositionX</key>
				<integer>136</integer>
				<key>PositionY</key>
				<integer>824</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/PingGuo_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/PingGuo_En_Apple.mp3</string>
				<key>WordCN</key>
				<string>苹果</string>
				<key>WordEN</key>
				<string>Apple</string>
				<key>StudyPic</key>
				<string>studypic/PingGuo.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>PuTao.png</string>
				<key>PositionX</key>
				<integer>931</integer>
				<key>PositionY</key>
				<integer>663</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/PuTao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/PuTao_En_Grape.mp3</string>
				<key>WordCN</key>
				<string>葡萄</string>
				<key>WordEN</key>
				<string>Grape</string>
				<key>StudyPic</key>
				<string>studypic/PuTao.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>XiangJiao.png</string>
				<key>PositionX</key>
				<integer>264</integer>
				<key>PositionY</key>
				<integer>348</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/XiangJiao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/XiangJiao_En_Banana.mp3</string>
				<key>WordCN</key>
				<string>香蕉</string>
				<key>WordEN</key>
				<string>Banana</string>
				<key>StudyPic</key>
				<string>studypic/XiangJiao.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>XiGua.png</string>
				<key>PositionX</key>
				<integer>761</integer>
				<key>PositionY</key>
				<integer>355</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/XiGua_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/XiGua_En_Watermelon.mp3</string>
				<key>WordCN</key>
				<string>西瓜</string>
				<key>WordEN</key>
				<string>Watermelon</string>
				<key>StudyPic</key>
				<string>studypic/XiGua.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>Li.png</string>
				<key>PositionX</key>
				<integer>446</integer>
				<key>PositionY</key>
				<integer>362</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Li_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Li_En_Pear.mp3</string>
				<key>WordCN</key>
				<string>梨</string>
				<key>WordEN</key>
				<string>Pear</string>
				<key>StudyPic</key>
				<string>studypic/Li.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>YingTao.png</string>
				<key>PositionX</key>
				<integer>390</integer>
				<key>PositionY</key>
				<integer>268</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/YingTao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/YingTao_En_Cherry.mp3</string>
				<key>WordCN</key>
				<string>樱桃</string>
				<key>WordEN</key>
				<string>Cherry</string>
				<key>StudyPic</key>
				<string>studypic/YingTao.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>MiHouTao.png</string>
				<key>PositionX</key>
				<integer>592</integer>
				<key>PositionY</key>
				<integer>313</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/MiHouTao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/MiHouTao_En_Yangtao.mp3</string>
				<key>WordCN</key>
				<string>猕猴桃</string>
				<key>WordEN</key>
				<string>Yangtao</string>
				<key>StudyPic</key>
				<string>studypic/MiHouTao.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>CaoMei.png</string>
				<key>PositionX</key>
				<integer>671</integer>
				<key>PositionY</key>
				<integer>259</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/CaoMei_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/CaoMei_En_Strawberry.mp3</string>
				<key>WordCN</key>
				<string>草莓</string>
				<key>WordEN</key>
				<string>Strawberry</string>
				<key>StudyPic</key>
				<string>studypic/CaoMei.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>JuZi.png</string>
				<key>PositionX</key>
				<integer>167</integer>
				<key>PositionY</key>
				<integer>273</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/JuZi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/JuZi_En_Orange.mp3</string>
				<key>WordCN</key>
				<string>桔子</string>
				<key>WordEN</key>
				<string>Orange</string>
				<key>StudyPic</key>
				<string>studypic/JuZi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>Xing.png</string>
				<key>PositionX</key>
				<integer>531</integer>
				<key>PositionY</key>
				<integer>237</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/Xing_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/Xing_En_Apricot.mp3</string>
				<key>WordCN</key>
				<string>杏</string>
				<key>WordEN</key>
				<string>Apricot</string>
				<key>StudyPic</key>
				<string>studypic/Xing.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>MangGuo.png</string>
				<key>PositionX</key>
				<integer>291</integer>
				<key>PositionY</key>
				<integer>200</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/MangGuo_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/MangGuo_En_Mango.mp3</string>
				<key>WordCN</key>
				<string>芒果</string>
				<key>WordEN</key>
				<string>Mango</string>
				<key>StudyPic</key>
				<string>studypic/MangGuo.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>BoLuo.png</string>
				<key>PositionX</key>
				<integer>792</integer>
				<key>PositionY</key>
				<integer>212</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/BoLuo_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/BoLuo_En_Pineapple.mp3</string>
				<key>WordCN</key>
				<string>菠萝</string>
				<key>WordEN</key>
				<string>Pineapple</string>
				<key>StudyPic</key>
				<string>studypic/BoLuo.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>NingMeng.png</string>
				<key>PositionX</key>
				<integer>639</integer>
				<key>PositionY</key>
				<integer>188</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/NingMeng_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/NingMeng_En_Lemon.mp3</string>
				<key>WordCN</key>
				<string>柠檬</string>
				<key>WordEN</key>
				<string>Lemon</string>
				<key>StudyPic</key>
				<string>studypic/NingMeng.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>ChengZi.png</string>
				<key>PositionX</key>
				<integer>496</integer>
				<key>PositionY</key>
				<integer>187</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/ChengZi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/ChengZi_En_Orange.mp3</string>
				<key>WordCN</key>
				<string>橙子</string>
				<key>WordEN</key>
				<string>Orange</string>
				<key>StudyPic</key>
				<string>studypic/ChengZi.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>TaoZi.png</string>
				<key>PositionX</key>
				<integer>158</integer>
				<key>PositionY</key>
				<integer>181</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/TaoZi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/TaoZi_En_Peach.mp3</string>
				<key>WordCN</key>
				<string>桃子</string>
				<key>WordEN</key>
				<string>Peach</string>
				<key>StudyPic</key>
				<string>studypic/TaoZi.png</string>
			</dict>
		</array>
		<key>BackgroundFile</key>
		<string>area/fruit-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/fruit.plist</string>
		<key>BatchNodeFile</key>
		<string>area/fruit.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/fruit-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
	<key>vegetable</key>
	<dict>
		<key>Objects</key>
		<array>
            <dict>
				<key>FrameName</key>
				<string>HuangGua.png</string>
				<key>PositionX</key>
				<integer>724</integer>
				<key>PositionY</key>
				<integer>630</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/HuangGua_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/HuangGua_En_Cucumber.mp3</string>
				<key>WordCN</key>
				<string>黄瓜</string>
				<key>WordEN</key>
				<string>Cucumber</string>
				<key>StudyPic</key>
				<string>studypic/HuangGua.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>DouJiao.png</string>
				<key>PositionX</key>
				<integer>136</integer>
				<key>PositionY</key>
				<integer>456</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/DouJiao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/DouJiao_En_Green Bean.mp3</string>
				<key>WordCN</key>
				<string>豆角</string>
				<key>WordEN</key>
				<string>Green Bean</string>
				<key>StudyPic</key>
				<string>studypic/DouJiao.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>NanGua.png</string>
				<key>PositionX</key>
				<integer>1014</integer>
				<key>PositionY</key>
				<integer>399</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/NanGua_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/NanGua_En_Pumpkin.mp3</string>
				<key>WordCN</key>
				<string>南瓜</string>
				<key>WordEN</key>
				<string>Pumpkin</string>
				<key>StudyPic</key>
				<string>studypic/NanGua.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>YuMi.png</string>
				<key>PositionX</key>
				<integer>484</integer>
				<key>PositionY</key>
				<integer>351</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/YuMi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/YuMi_En_Maize.mp3</string>
				<key>WordCN</key>
				<string>玉米</string>
				<key>WordEN</key>
				<string>Maize</string>
				<key>StudyPic</key>
				<string>studypic/YuMi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>TuDou.png</string>
				<key>PositionX</key>
				<integer>281</integer>
				<key>PositionY</key>
				<integer>325</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/TuDou_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/TuDou_En_Potato.mp3</string>
				<key>WordCN</key>
				<string>土豆</string>
				<key>WordEN</key>
				<string>Potato</string>
				<key>StudyPic</key>
				<string>studypic/TuDou.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>QingJiao.png</string>
				<key>PositionX</key>
				<integer>667</integer>
				<key>PositionY</key>
				<integer>333</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/QingJiao_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/QingJiao_En_Green Pepper.mp3</string>
				<key>WordCN</key>
				<string>青椒</string>
				<key>WordEN</key>
				<string>Green Pepper</string>
				<key>StudyPic</key>
				<string>studypic/QingJiao.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>XiHongShi.png</string>
				<key>PositionX</key>
				<integer>848</integer>
				<key>PositionY</key>
				<integer>257</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/XiHongShi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/XiHongShi_En_Tomato.mp3</string>
				<key>WordCN</key>
				<string>西红柿</string>
				<key>WordEN</key>
				<string>Tomato</string>
				<key>StudyPic</key>
				<string>studypic/XiHongShi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>HuLuoBo.png</string>
				<key>PositionX</key>
				<integer>127</integer>
				<key>PositionY</key>
				<integer>250</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/HuLuoBo_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/HuLuoBo_En_Carota.mp3</string>
				<key>WordCN</key>
				<string>胡萝卜</string>
				<key>WordEN</key>
				<string>Carota</string>
				<key>StudyPic</key>
				<string>studypic/HuLuoBo.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>BaiCai.png</string>
				<key>PositionX</key>
				<integer>129</integer>
				<key>PositionY</key>
				<integer>68</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/BaiCai_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/BaiCai_En_Cabbage.mp3</string>
				<key>WordCN</key>
				<string>白菜</string>
				<key>WordEN</key>
				<string>Cabbage</string>
				<key>StudyPic</key>
				<string>studypic/BaiCai.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>QinCai.png</string>
				<key>PositionX</key>
				<integer>945</integer>
				<key>PositionY</key>
				<integer>94</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/QinCai_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/QinCai_En_Celery.mp3</string>
				<key>WordCN</key>
				<string>芹菜</string>
				<key>WordEN</key>
				<string>Celery</string>
				<key>StudyPic</key>
				<string>studypic/QinCai.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>YangCong.png</string>
				<key>PositionX</key>
				<integer>537</integer>
				<key>PositionY</key>
				<integer>215</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/YangCong_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/YangCong_En_Onion.mp3</string>
				<key>WordCN</key>
				<string>洋葱</string>
				<key>WordEN</key>
				<string>Onion</string>
				<key>StudyPic</key>
				<string>studypic/YangCong.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>DaSuan.png</string>
				<key>PositionX</key>
				<integer>376</integer>
				<key>PositionY</key>
				<integer>212</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/DaSuan_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/DaSuan_En_Garlic.mp3</string>
				<key>WordCN</key>
				<string>大蒜</string>
				<key>WordEN</key>
				<string>Garlic</string>
				<key>StudyPic</key>
				<string>studypic/DaSuan.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>JuanXinCai.png</string>
				<key>PositionX</key>
				<integer>700</integer>
				<key>PositionY</key>
				<integer>155</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/JuanXinCai_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/JuanXinCai_En_Cabbage.mp3</string>
				<key>WordCN</key>
				<string>卷心菜</string>
				<key>WordEN</key>
				<string>Cabbage</string>
				<key>StudyPic</key>
				<string>studypic/JuanXinCai.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>QieZi.png</string>
				<key>PositionX</key>
				<integer>335</integer>
				<key>PositionY</key>
				<integer>113</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/QieZi_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/QieZi_En_Eggplant.mp3</string>
				<key>WordCN</key>
				<string>茄子</string>
				<key>WordEN</key>
				<string>Eggplant</string>
				<key>StudyPic</key>
				<string>studypic/QieZi.png</string>
			</dict>
			<dict>
				<key>FrameName</key>
				<string>MoGu.png</string>
				<key>PositionX</key>
				<integer>500</integer>
				<key>PositionY</key>
				<integer>114</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/MoGu_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/MoGu_En_Mushroom.mp3</string>
				<key>WordCN</key>
				<string>蘑菇</string>
				<key>WordEN</key>
				<string>Mushroom</string>
				<key>StudyPic</key>
				<string>studypic/MoGu.png</string>
			</dict>
            <dict>
				<key>FrameName</key>
				<string>DaCong.png</string>
				<key>PositionX</key>
				<integer>549</integer>
				<key>PositionY</key>
				<integer>21</integer>
				<key>HasAnimation</key>
				<false/>
				<key>CanStudy</key>
				<true/>
				<key>PronunceCN</key>
				<string>pronunce/DaCong_Cn.mp3</string>
				<key>PronunceEN</key>
				<string>pronunce/DaCong_En_Scallion.mp3</string>
				<key>WordCN</key>
				<string>大葱</string>
				<key>WordEN</key>
				<string>Scallion</string>
				<key>StudyPic</key>
				<string>studypic/DaCong.png</string>
			</dict>			
		</array>
		<key>BackgroundFile</key>
		<string>area/vegetable-bg.png</string>
		<key>SpriteFramesFile</key>
		<string>area/vegetable.plist</string>
		<key>BatchNodeFile</key>
		<string>area/vegetable.png</string>
		<key>StudyBackgroundFile</key>
		<string>area/vegetable-studybg.png</string>
		<key>StudyForegroundFile</key>
		<string>studyfg.png</string>
	</dict>
</dict>
</plist>
